/*
1. - nav
1.1. - full screen nav
2. - main information
3. - about
4. - skills
5. - works
6. - footer

*/  

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
    margin: 0;
}

/* 1. */
.navigate {
    display: flex;
    position: sticky;
    align-items: center;
    top: 0;
    width: 100%;
    height: 85px;
    background: #f5f5f5;
    z-index: 100;
    box-shadow: 0 0 70px -25px black;
}

.logo {
    position: absolute;
    left: 15%;
    
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 4px;
    
    color: #10c9c3;
}

.links {
    list-style: none;
    display: flex;
    position: fixed;
    top: 30px;
    z-index: 999;
    right: 15%;
    margin: 0;
    
    font-weight: 900;
    text-transform: uppercase;
}

.links_item {
    text-decoration: none;
    color: #000;
    margin-left: 1.75rem;
    transition: color 150ms ease-in-out;
}

.links_item:hover {
    color: #10c9c3;
}

/* 1.1. */

.burger {
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    right: 30px;
    cursor: pointer;
}

.menu {
    position: absolute;
    width: 40px;
    height: 3px;
    background: #000;
    opacity: 1;
    transition: opacity 100ms ease, transform 200ms ease-in-out, background 100ms ease;
}

.mTop { top: 25px; }
.mBottom { bottom: 25px; }


@media (max-width: 950px) {
    .burger {
        display: flex;
        z-index: 999;    }

    .links {
        all: unset;
        position: fixed;
        z-index: 998;
        top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        list-style: none;
        font-size: 2.5rem;
        text-transform: uppercase;
        background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../pictures/full_menu_bg.jpg);;

        transform: scaleY(0);
        transform-origin: top;
        transition: transform 350ms ease;
    }
    .links li {
        margin-bottom: 1.75rem;
        opacity: 0;
        transition: opacity 100ms ease;
    }
    .links_item {
        color: #fff;
    }
    .active {
        transition: transform 400ms ease;
        transform: scale(1);
    }
    .active li {
        opacity: 1;
        transition: opacity 150ms ease 300ms;
    }
}
/* 2. */

.main_info {
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 600px;
    
    background: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)), url(../pictures/main_info_bg.png);
}

.text_block {
    position: absolute;
    width: 40%;
}

.text_block-rigth {
    right: 15%;
}

.text_header {
    font-size: 2.5rem;
    letter-spacing: 1px;
    color: #10c9c3;
}

.text {
    margin-top: 2.5rem;
    line-height: 1.75rem;
}

.btn {
    position: absolute;
    text-decoration: none;
    background: #10c9c3;
    
    margin-top: 1.25rem;
    padding: 1rem 2rem;
    
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    box-shadow: 0 0 40px -15px #000;
    transition: background 200ms ease-in-out;
}

.btn:hover {
    background: #1beae3;
}

/* 3. */

.about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px 0 75px 0;
    width: 100%;
    height: 250px;
    background: #f5f5f5;
}

/* 4. */

.skills {
    width: 100%;
    height: 600px;
    position: relative;
}

.skills_header {
    margin-top: 20%;
}

.block {
    position: absolute;
    height: 60%;
}

.block-left {
    width: 30%;
    left: 15%;
}

.block-right {
    right: 0;
    width: 50%;
    background: linear-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)), url(../pictures/skills_ntb_bg.jpg);
    background-size: cover;
}

.design,
.develop {
    position: relative;
    margin-top: 2rem; 
}

.design::after,
.develop::after,
.design::before,
.develop::before {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 80%;
    bottom: -1rem;
    background: #10c9c3;
    z-index: 2;
}

.design::after,
.develop::after {
    width: 100%;
    background: #d8d8d8;
    z-index: 1;
}

.feedback {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
    bottom: 0;
    background: #10c9c3;
}

.feed_block {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feed_block p {
    color: #fff;
    margin: 1rem 2rem;
}

.centered {
    margin: 0 5%;
}

.icon {
    fill: #fff;
    height: 50px;
    width: 50px;
}

/* 5. */

.works {
    width: 100%;
}

.works::after {
    content: '';
    display: block;
    clear: both;
}

.exmpl {
    position: relative;
    float: left;
    width: 25%;
    height: 300px;
    margin: 0;
    overflow: hidden;
}

.exmpl img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    transition: transform 400ms ease;
}

.description {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #10c9c3;
    color: #fff;
    transform-origin: bottom;
    transition: opacity 300ms ease;
}

.exmpl:hover .description {
    opacity: .7;
    transition: opacity 500ms ease;
}

.exmpl:hover img {
    transform: scale(1.05);
}

/* 6. */

 footer { 
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    color: #fff;
    background: #000;
}

.company_info {
    font-size: 1.5rem;
}

.more_links {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.more_links a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 2rem;
}










